@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,h5,p,a, button, span{
    font-family: 'Poppins', sans-serif !important;
}

nav > h1{
    font-size: 2.5rem;
    text-align: center !important;
}

body{
    margin: 0px !important;
    /*background-color: #ff41d0;*/
    background: linear-gradient(to right,  rgb(173, 45, 167), #ff41d0, rgb(173, 45, 167));
}

.col-12.col-sm-6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

hr{
    border-color: black;
    width: 90%;
}

.mainDiv > div{
    text-align: center;
}

.submitDiv{
    margin-top: 30px;
}

.submitDiv > button{
    border: 2px solid black;
    border-radius: 15px;
}

.answersDivRow{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center !important;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.answersDiv{
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.answersBtn{
    margin-top: 10px;
}

.errorMsg{
    border: 2px solid #ff0000;
    border-radius: 15px;
    padding: 10px;
}

.errorMsg > p{
    color: #ff0000;
}

.APIs{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
}

/****************************************************************************************************/

@media screen and (min-width:577px) {

/**** Nav ****/

/****  Fim Nav   ****/


/*********** Main ***********/
select{
    font-size: 1.5rem;
}

.submitDiv > button{
    font-size: 1.5rem;
}

.answersDiv > p{
    font-size: 1.5rem;
}

/********* Fim Main  *********/


/******** Footer ********/


/******* Fim Footer *******/
    
}


/***************************************************************************************************/

@media screen and (max-width: 576px) {

select{
    font-size: 1.4rem;
}

.answersDiv > p{
    font-size: 1.5rem;
}

.APIs > p{
    text-align: center;
}
    
}